name: UT - Socket

on:
   push:
    branches:
    - master

jobs:
  linux:      
      runs-on: ubuntu-latest
      steps:
      - uses: actions/checkout@v1
      - name: Setup
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: 3.1.300
      - name: Build
        run: dotnet build './test/Unit/SocketTest/SocketTest.csproj' --configuration Release
      - name: Test
        run: dotnet test './test/Unit/SocketTest'
     
  windows:
      runs-on: windows-latest
      steps:
      - uses: actions/checkout@v1
      - name: Setup
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: 3.1.300
      - name: Build
        run: dotnet build './test/Unit/SocketTest/SocketTest.csproj' --configuration Release
      - name: Test
        run: dotnet test './test/Unit/SocketTest'
   
  mac:
      runs-on: macos-latest
      steps:
      - uses: actions/checkout@v1
      - name: Setup
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: 3.1.300
      - name: Build
        run: dotnet build './test/Unit/SocketTest/SocketTest.csproj' --configuration Release
      - name: Test
        run: dotnet test './test/Unit/SocketTest'
